<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <title>XAI </title>
</head>
<body>
    <body>
        <header>
            <h1>Kidney CT Scan Classification</h1>
        </header>
        
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Classification</a></li>
                
            </ul>
        </nav>
        
        <main>
            <section class="CT">
                <h2>Classification of CT Scans of Kidney using XAI</h2>
                <br>
                <p>Explore our advanced AI-based classification system for kidney CT scans into 4 Categories</p>
            </section>
            <br>
           
        </main>
    
        <footer>
            <p>&copy; Pre<u>Raju</u> lisation and <u>HARSH</u> fication Limited</p>
        </footer>
    </body>
    </html>
    <script src="{{url_for('static',filename='index.js')}}"></script>
</body>
</html>